/* styles.css */
.container {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 22px 0px;
    overflow-y: scroll;
  }
  
  .wrapper {
    flex: 1;
    max-width: 1600px;
    display: flex;
    gap: 22px;
    padding: 0px 16px;
  }
  
  @media (max-width: 600px) {
    .wrapper {
      gap: 12px;
      flex-direction: column;
    }
  }
  
  .left {
    flex: 0.2;
    height: fit-content;
    padding: 18px;
    border: 1px solid var(--text-primary-20);
    border-radius: 14px;
    box-shadow: 1px 6px 20px 0px var(--primary-15);
  }
  
  .title {
    font-weight: 600;
    font-size: 16px;
    color: var(--primary);
  }
  
  @media (max-width: 600px) {
    .title {
      font-size: 14px;
    }
  }
  
  .right {
    flex: 1;
  }
  
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
  }
  
  @media (max-width: 600px) {
    .card-wrapper {
      gap: 12px;
    }
  }
  
  .section {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    gap: 22px;
  }
  
  @media (max-width: 600px) {
    .section {
      gap: 12px;
    }
  }
  
  .sec-title {
    font-size: 22px;
    color: var(--text-primary);
    font-weight: 500;
  }
  